In [22]:
import nltk
import pandas as pd
import fuzzywuzzy
import re
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

C:\Users\Admin\Anaconda2\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
product_list = ['iphone6','iphone7','xbox360','playstation']

In [4]:
s = ["i want to buy an iphone 6","i want to buy iphone6",'where is my xxbox360', 'when will i receive my playstation delivery',
     'i want to buy x box 360','i want to buy i phone 7']

In [5]:
len(s)

6

In [9]:
dataset = pd.DataFrame()

In [33]:
dataset['freetext'] = s

In [34]:
stringsample = str(s[1:2])

In [39]:
stringsample = stringsample.replace(" ","")

In [40]:
stringsample = stringsample.lower()

In [41]:
stringsample

"['iwanttobuyiphone6']"

In [42]:
process.extractOne(stringsample,product_list)

('iphone6', 90)

In [50]:
results = []
for ftxt in s:
    a = process.extractOne(ftxt,product_list)
    results.append(a)

In [51]:
results

[('iphone6', 77),
 ('iphone6', 90),
 ('xbox360', 90),
 ('playstation', 90),
 ('xbox360', 77),
 ('iphone7', 77)]

In [56]:
results[1][0]

'iphone6'

In [68]:
products = []
for prods in results:
    prods = str(prods)
    prods = prods.split(",")
    prods = prods[0]
    prods.replace("'","")
    products.append(prods)

In [69]:
products

["('iphone6'",
 "('iphone6'",
 "('xbox360'",
 "('playstation'",
 "('xbox360'",
 "('iphone7'"]

In [70]:
dataset['Products'] = products

In [71]:
dataset

                                      freetext        Products
0                    i want to buy an iphone 6      ('iphone6'
1                        i want to buy iphone6      ('iphone6'
2                         where is my xxbox360      ('xbox360'
3  when will i receive my playstation delivery  ('playstation'
4                      i want to buy x box 360      ('xbox360'
5                      i want to buy i phone 7      ('iphone7'

In [73]:
dataset['Products'] = dataset['Products'].str.replace('(','')

In [77]:
dataset['Products'] = dataset['Products'].str.replace("'",'')

In [78]:
dataset

                                      freetext     Products
0                    i want to buy an iphone 6      iphone6
1                        i want to buy iphone6      iphone6
2                         where is my xxbox360      xbox360
3  when will i receive my playstation delivery  playstation
4                      i want to buy x box 360      xbox360
5                      i want to buy i phone 7      iphone7